<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogo - Tela Inicial</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Tela inicial</h1>
    <div class="layout">
        <div class="painel-principal"></div>
        <div class="painel-jogador">
            <h2>Painel do Jogador</h2>
            <p><a href="/jogo"><strong>Iniciar Jogo</strong></a></p>
            <p><a href="/"><strong>Retornar ao inicio</strong></a></p>
        </div>
    </div>
</body>
</html>