<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% if questoes %}
        {% for pergunta in questoes %}
            <div>
                <h3>Pergunta : {{ pergunta.pergunta }}</h3>
                <a href="{{ url_for('editar_questao', id=pergunta.id)}}">Editar</a>
                <a href="{{ url_for('remover_questao', id=pergunta.id)}}">Remover</a>
                <ul>
                    <li>Alternativa A: {{ pergunta.alternativaA }}</li>
                    <li>Alternativa B: {{ pergunta.alternativaB }}</li>
                    <li>Alternativa C: {{ pergunta.alternativaC }}</li>
                </ul>
                <p>Resposta correta: {{ pergunta.respostaCorreta }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>Nenhuma questão cadastrada.</p>
    {% endif %}
<br><br>    
    <a href='/'>Retornar ao inicio</a>
    
</body>
</html>