<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <form action="/questao/cadastro" method="POST">

        <label for="pergunta">Pergunta:</label><br>
        <input type="text" id="pergunta" name="pergunta"><br>

        <label for="alternativaA">Alternativa A:</label><br>
        <input type="text" name="alternativaA" id="alternativaA"><br>

        <label for="alternativaB">Alternativa B:</label><br>
        <input type="text" name="alternativaB" id="alternativaB"><br>

        <label for="alternativaC">Alternativa C:</label><br>
        <input type="text" name="alternativaC" id="alternativaC"><br>

        <label for="respostaCorreta">Resposta correta:</label><br>
        <select name="respostaCorreta" id="respostaCorreta">
            <option value="A">Alternativa A</option>
            <option value="B">Alternativa B</option>
            <option value="C">Alternativa C</option>
        </select>
        <br><br>

        <input type="submit" value="Cadastrar">

    </form>

    <br><br>
    <a href='/'><strong>Retornar ao inicio</strong></a>
</body>
</html>