<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>ERROS ENCONTRADOS NA QUESTÃO</h1>
    <ul>
        <p>Contagem de erros: {{ erros|length }}</p>

        {% for erro in erros %}
            <li>{{ erro }}</li>
        {% endfor %}
    </ul>

    <a href='/'><strong>Retornar ao inicio</strong></a>
</body>
</html>